#container {
  display: flex; /* Flexbox를 사용하여 두 컬럼을 나란히 배치 */
}

/* 화면 분할 */
#left_sidebar { /* 왼쪽 화면 */
  width: 18%;
  height: 98.5vh;
  background-color: #F9EBD0;
}

#right_contents { /* 오른쪽 화면 */
  width: 82%;
}

/* 왼쪽 화면 */
#project_name{
  padding-top: 2vh;
  font-size: 4vh;
  margin-left: 1vh;
  margin-bottom: 3vh;
}

.button{
  text-align: left;
  margin-left: 1.3vw;
  margin-bottom: 1vh;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1.5vh;
  height: 4vh;
  width: 80%;
}

/* 오른쪽 화면 */
#upper_bar{
  height: 5%;
  padding-left: 1.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #F2AC57;
  font-size: 3.5vh;
}

#class_name{
  height: 5%;
  padding-left: 2.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 3.5vh;
}

/* 오른쪽 주 내용 */
#main_content{
  height: 90%;
  margin-left: 3.5vh;
  margin-right: 3.5vh;
}

#design{
  background-color: #f0bf83;
  font-size: 2vh;
  padding-left: 1.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 4%;
}

#problem{
  padding-top: 1vh;
  height: 89%;
  background-color: #F9EBD0;
  margin-bottom: 1vh;
}

/* 문제 내용 */
#problem_content{
  height: 35%;
  margin-left: 2vw;
  margin-right: 2vw;
}

#problem_content_upperbar{
  background-color: #E6EDF4;
  padding-left: 1.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2vh;
}

#real_problem_content{
  height: 100%;
  background-color: #F0F0F0;
  padding-left: 1.5vh;
  overflow: auto;
}

#real_problem_content p{
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

#real_problem_content p:nth-child(odd) {
  font-weight: bold;
  font-size: 2vh;
}

#real_problem_content p:nth-child(even) {
  padding-left: 1vw;
  font-size: 1.8vh;
}

#empty_space{
  height: 2vh;
  background-color: #F9EBD0;
}

/* 문제 풀이 */
#problem_solving{
  height: 50%;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
}

#problem_solving_upperbar{
  background-color: #E6EDF4;
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2vh;
}

#real_problem_solving{
  height: 100%;
  background-color: #F0F0F0;
  padding-top: 2vh;
  padding-left: 2vh;
}

#solving_text{
  width: 97%;
  height: 90%;
}

/* 버튼 */

#select_button{
  display: flex;
  padding-top: 2vh;
  justify-content: center;
}

#temporary_save_answer{
  width: 9vw;
  height: 5vh;
  cursor: pointer;
  font-size: 2vh;
}

#compile_answer{
  width: 9vw;
  height: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  cursor: pointer;
  font-size: 2vh;
}

#submit_answer{
  width: 9vw;
  height: 5vh;
  background-color: #7EA8EB;
  color: white;
  cursor: pointer;
  font-size: 2vh;
}