body{
  background-image: url(./login_page.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

#container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#project{
  padding: 5vh 0 1vh 8vh;
  /* background-color: red; */
  font-size: 8vh;
  font-weight: bold;
  text-align: left;
}

#benefits{
  padding: 1vh 0 4vh 8vh;
  /* background-color: orange; */
  font-size: 5vh;
  font-weight: bold;
  text-align: left;
}

#induction_comment{
  padding: 6vh 0 1vh;
  /* background-color: yellow; */
  font-size: 6.5vh;
  font-weight: bold;
  text-align: center;
}

#kakao_login{
  padding: 1vh 0 16vh 0;
  /* background-color: green; */
  text-align: center;
}

#kakao_login > *{
  width: 18vw;
  height: 8vh;
  background-color: #fde41a; /* 배경색 */
  color: black; /* 텍스트 색상 */
  padding: 0;
  text-align: center;
  display: inline-block; 
  font-size: 1.6vw;
  border-radius: 0.5vw;
  border: none;
  cursor: pointer; 
}

#kakao_login > * > *{
  width: 3vw;
  vertical-align: middle; /* 이미지를 텍스트의 중앙에 정렬 */
  margin-right: 1vw;
}

#developers{
  padding: 0 0 0 1vh;
  /* background-color: blue; */
  font-size: 2vh;
  text-align: left;
  color: gray;
}